# Environments
.env

# Ansible temporary files
*.retry

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/

# Docker
.dockerignore

# IDEs
.idea/
.vscode/

# SSH Keys
ssh_keys/*
!ssh_keys/.gitkeep

.DS_Store

# AI
.gemini/
GEMINI.md
docs/plans
.claude
CLAUDE.md
.mcp.json
